<!-- <h1>Feed</h1>

<% @users.each do |user| %>
  <%= user.fname %>
  <%= user.lname %>
<% end %>


<% @posts.each do |post| %>
  <%= post.title %>
  <%= post.content %>
  <%= post.user.fname %>
<% end %> -->
<div id="comment">

<h3>Create Post</h3>

<form action="/feed" method="post">

  <label for="">Title</label>
  <input type="text" name="[post]title">

  <label for="">Content</label>
  <input type="text" name="[post]content">

  <button type="submit">submit</button>

</form>


</div>

<div class="feedDisplay">

  <h1>Feed</h1>

  <% @posts[0...10].each do |post| %>

    <div class="postDisplay">
      <h3> <%= post.user.fname.capitalize %> <%= post.user.lname.capitalize %></h3>
      <%= post.title.upcase %>
      <%= post.content %>
    </div>

  <% end %>

</div>
