<<<<<<< HEAD
<!-- <h1>Profile</h1>
<% @users.each do |user| %>
Name: <%= user.fname %> <%= user.lname %>
=======

<h1><%= user.fname %> <%= user.lname %> Profile</h1>
>>>>>>> b302b2495902d24f8766047ed833ca15819eff6a
<% end %>

<% @users.each do |user| %>
  <%= user.fname %>
  <%= user.lname %>
<% end %> -->

<h1><%= user.fname %> <%= user.lname %> Profile</h1>
<% end %>
